/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.search_body {
    display: flex;
    flex-direction: column;
    height: 100vh
}

/* page header styling */
.page-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.nav-text {
    padding: 12px;
    font-size: 14px;
}

.nav-text > a {
    text-decoration: none;
    color: black;
}

.nav-text > a:hover {
    text-decoration: underline;
}

.nav-img {
    width: 40px;
    height: 40px;
    border-radius: 100%
}

.nav-img > img {
    width: 100%;
    height: 100%;
}

#dots {
    padding: 12px;
}

#pfp {
    margin: 0px 3px;
    padding: 2px
}

.nav-img:hover {
    background-color: rgba(60,64,67,.08);
}

/* main body below nav-bar */
#search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}


/* form area */
#form-area {
    display: flex;
    width: 100vw; 
    max-width: 550px;   
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
}


/* related to the search bar */
#searchbar-wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 100%;
}

#searchbar{
    border: solid 1px lightgrey;
    border-radius: 1000px;
    padding: 10px 65px 10px 40px;
    flex: 1;
}

#searchbar:hover {
    box-shadow: 0 0 5px lightgrey;
}

#searchbar:focus {
    outline: none;
}

.blank_button {
    outline: none;
    border: none;
    background-color: white;
    right: 15px;
}

.blank_button:hover {
    cursor: pointer;
}

.blank_button > img {
    width: 100%;
    height: 100%;
    color: blue;
}

/* related to buttons below search bar */
#button-wrapper {
    padding: 30px;
}

#button-wrapper > .button {
    font-size: 14px;
    padding: 8px 16px;
    margin: 4px;
    border: none;
    outline: none;
    background-color: #f8f9fa;
    border-radius: 3px
}

#button-wrapper > .button:hover {
    box-shadow: 0 0 2px lightslategrey;
}


/* icon styling */
.icon {
    width: 1rem;
    height: 1rem;
    position: absolute;
}

#search_icon {
    left: 15px;
}

#mic_icon {
    right: 40px;
}
#camera_icon {
    right: 15px;
}


/* google logo styling */
#google_logo {
    width: 300px;
    height: auto;
    margin-bottom: 15px
}

#google_wrapper {
    display: flex;
    position: relative;
}

#images_text {
    position: absolute;
    right: 3px;
    bottom: 20px;
    color: #4285f4;
    font-family: roboto-regular, arial, sans-serif;

}


/* footer styling */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.footer-panel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3px 20px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dadce0;
}

#United-Kingdom {
    padding: 15px 10px;
    font-size: 15px;
}

#leaf_img {
    height: 25px;
    width: auto;
    margin-right: -5px;
}

#left_footer_items { 
    flex-wrap: wrap;
    min-width: 30%;
    justify-content: flex-start;
    order: 1;
}

#center_footer_items {
    justify-content: center;
    order: 2;
}

@media (max-width: 1200px) {
    #center_footer_items {
        order: 0;
        width: 100%;
    }
    .footer-panel {
        justify-content: space-evenly;
    }
}

#right_footer_items { 
    flex-wrap: wrap;
    min-width: 30%;
    justify-content: flex-end;
    order: 3;
}







